* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f4f7fb;
  font-size: 16px;
  color: #333;
}

p {
  font-size: 12px;
  margin-bottom: 10px;
  color: #777;
}

.p2 {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #555;
  font-weight: 400;
  font-family: "Segoe UI", "Roboto", sans-serif;
  text-align: justify;
}

select, button {
  padding: 10px;
  margin: 15px 0;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

select:focus, button:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

hr {
  border: 0;
  height: 2px;
  background-color: #3a3a3a75;
  margin: 10px 0;
  border-radius: 2px;
}

.main-content {
  padding: 30px;
}

.period-pdf-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.pdf-button {
  white-space: nowrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  flex: 1;
  align-items: center;
  max-width: 45%;
  margin: 0 auto;
}

.card2 {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  align-items: center;
}

.overview-section {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.profit-number {
  font-size: 32px;
  font-weight: bold;
  color: #1a1a1a;
}

.profit-number2 {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
}

.positive {
  color: green;
  font-weight: 600;
}

.graph1 {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 16px;
  border: 2px solid #d0d7e2;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding: 8px;
  background-color: #ffffff;
}

.graph2 {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 16px;
  border: 2px solid #d0d7e2;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding: 8px;
  background-color: #ffffff;
}

.breakdown .row {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.breakdown .row span {
  flex: 1;
  text-align: center;
}

.analysis-and-graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}

.analysis-and-graph .card {
  flex: 2;
  max-width: 60%;
  min-width: 300px;
}

.analysis-and-graph .graph2 {
  flex: 1;
  max-width: 35%;
  min-width: 200px;
  margin: 0 auto;
}